.task-group {
    @extend .shadow-sm,
        .rounded,
        .p-2,
        .pt-3,
        .d-flex,
        .flex-column,
        .gap-3,
        .bg-light,
        .flex-shrink-0;

    width: 320px;
    max-width: 100%;
    min-width: 256px;
    max-height: 100%;

    > header {
        @extend .hstack, .px-2, .gap-2;

        > .grip {
            @extend .bi, .bi-grip-vertical;
        }

        > form {
            flex: 1;
            margin: -$input-padding-y;

            textarea {
                @extend .form-control;

                border-color: transparent;
                background: none;
                padding: $input-padding-y;
                resize: none;

                @include transition(
                    $input-transition,
                    background-color 0.15s ease-in-out
                );

                &:hover {
                    border: $input-border-width solid $input-border-color;
                }
            }
        }
    }

    > ul {
        @extend .list-unstyled, .vstack, .gap-2, .p-2, .m-n2;

        overflow-y: auto;
        overflow-x: clip;
    }
}

.task {
    @extend .position-relative,
        .hstack,
        .gap-2,
        .justify-content-between,
        .text-break;

    &.list-group-item {
        @extend .list-group-item-action;
    }

    &:not(.list-group-item) {
        @extend .shadow-sm, .rounded, .p-2, .bg-white;
    }

    > .grip {
        @extend .bi, .bi-grip-vertical;
    }

    .tags {
        @extend .hstack, .list-unstyled, .gap-1;

        > * {
            @extend .rounded-pill, .p-1;

            flex: 48px 0 1;
        }
    }

    .assignees {
        @extend .hstack, .list-unstyled;

        z-index: 50;

        > * {
            @extend .rounded-circle;

            display: block;

            img {
                outline: solid $white 2px;
            }

            transition: $transition-base;
            transition-property: margin;

            &:not(:first-child) {
                margin-inline-start: -6px;
            }
        }

        &:hover > *:not(:first-child) {
            margin-inline-start: 4px;
        }
    }
}

.project-board-main {
    @extend .position-relative, .overflow-auto;
}

.project-board {
    @extend .d-flex, .flex-row, .gap-3, .p-3, .align-items-start;

    flex: 1.5;
    overflow-x: auto;

    @supports selector(:has(#new-task-button)) {
        &:has(#new-task-button) {
            @include media-breakpoint-down(sm) {
                padding-bottom: $btn-font-size * $btn-line-height +
                    $btn-padding-y * 2 + $spacer;
            }
        }
    }

    @supports not selector(:has(#new-task-button)) {
        @include media-breakpoint-down(sm) {
            padding-bottom: $btn-font-size * $btn-line-height + $btn-padding-y *
                2 + $spacer;
        }
    }
}

#task-offcanvas,
#new-task-offcanvas {
    @extend .offcanvas, .offcanvas-end;

    flex: 1;
    width: 100%;
    max-width: map-get($map: $grid-breakpoints, $key: "md");
}

#new-task-offcanvas {
    form {
        @extend .vstack, .p-3, .pt-0, .gap-3;
    }
}

#task-offcanvas {
    @extend .vstack, .gap-3, .p-3;

    header {
        @extend .d-flex, .align-items-start, .justify-content-between, .gap-2;
    }

    h3 {
        @extend .m-0;
    }

    #task-description {
        :last-child {
            @extend .m-0;
        }

        &:empty {
            display: none;
        }
    }

    .chip-search-form {
        display: contents;

        ul[data-length="0"] {
            display: none;
        }
    }

    #task-assignees,
    #task-comments {
        display: contents;

        &[data-length="0"] {
            display: none;
        }
    }

    > .load {
        display: none;
    }

    &.loading {
        > .load {
            display: initial;
        }

        > :not(.load) {
            display: none;
        }
    }
}

#new-task-button {
    @extend .btn, .btn-primary, .m-2;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: $zindex-fixed;
}
