@use "sass:color";

.forum-threads {
    @extend .vstack, .border-end;

    flex: 1;
    max-width: map-get($map: $grid-breakpoints, $key: md);
    overflow-y: auto;

    header {
        @extend .p-2, .vstack, .sticky-top;

        z-index: 500;
        flex: 0 0 auto;

        background: linear-gradient(
            to bottom,
            $white 25%,
            color.change($color: $white, $alpha: 0) 90%
        );
    }

    ul {
        @extend .list-group, .list-group-flush;
    }
}

.thread {
    @extend .list-group-item,
        .list-group-item-action,
        .position-relative,
        .hstack,
        .align-items-center,
        .gap-3,
        .text-break;

    > div {
        @extend .vstack, .gap-1;

        flex: 1;

        > div {
            @extend .hstack, .gap-2, .align-items-end, .justify-content-between;

            &:first-child {
                @extend .align-items-start;
            }

            span,
            time {
                flex-shrink: 0;
            }
        }
    }
}

#thread-offcanvas,
#new-thread-offcanvas {
    @extend .offcanvas-md, .offcanvas-end;

    flex: 1;
    width: 100%;
    overflow-y: auto;

    .offcanvas-header {
        display: flex;
    }

    .btn-close {
        @extend .d-md-none;
    }
}

#thread-offcanvas {
    &:not(.show) {
        display: none;
    }

    form {
        @extend .p-3, .pt-0;
    }
}

#new-thread-offcanvas {
    form {
        @extend .vstack, .p-3, .pt-0, .gap-3;
    }

    #thread-offcanvas.show ~ & {
        display: none;
    }
}

#thread,
.thread-comment {
    @extend .text-break, .p-3, .gap-2, .d-flex, .flex-column;

    > * {
        @extend .p-0;
    }

    .content :last-child {
        @extend .m-0;
    }
}

#thread-comments {
    @extend .list-unstyled, .m-0;
}

.thread-comment {
    @extend .border-top;
}
