/.git

/bootstrap/cache/*
/docs
/node_modules

/public/css
/public/js
/public/images
/public/fonts
/public/storage
/public/mix-manifest.json
/public/hot

/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/framework/config.php
/storage/framework/routes.php
/storage/framework/schedule-*
/storage/framework/compiled.php
/storage/framework/services.json
/storage/framework/events.scanned.php
/storage/framework/routes.scanned.php
/storage/framework/down
/storage/framework/config.php
/storage/logs/*

/vendor
/.dockerignore
/.editorconfig
/.vscode/
/.gitattributes
/.gitignore
/.styleci.yml
/a7_openapi.yml
/docker-compose.yml
/Dockerfile
/Dockerfile.dev
/README_lbaw.md
/README.md
/dev.sh
/upload_image.sh
