body{
    background-color: white;
    color: black
}
.container11{
    display: flex;
    align-items: center;
    justify-content: center;

}

img{
    max-width: 50%;
    padding-bottom: 50px;
}

.profile_image{
    flex-basis: 40%;
    
    padding-left: 70px;
}