// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$enable-validation-icons: false;
$enable-negative-margins: true;
$enable-important-utilities: false;

$primary: #6f42c1;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import "~bootstrap-icons/font/bootstrap-icons";

@import "pages/board";

a {
    color: inherit;
    text-decoration: inherit;
}

.underline {
    text-decoration: underline;
}

/***********************************/

.image-input {
    position: relative;

    cursor: pointer;

    overflow: hidden;

    transition-property: opacity;
}

.image-input.rounded {
    border-radius: 8px;
}

.image-input > * {
    grid-area: 1 / 1;
}

.image-input img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-input::before {
    content: "add_a_photo";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    overflow: hidden;

    font-size: 96px;
    font-family: "Material Icons";
    line-height: 1;
    letter-spacing: initial;

    text-transform: none;
    user-select: none;

    color: rgb(var(--color-on-image-surface), var(--opacity-text));

    --color-overlay: var(--color-image-surface);
    --opacity-overlay: 0%;
    --opacity-text: 0%;

    transition-property: color, box-shadow;
}

.image-input:hover::before {
    --opacity-overlay: var(--opacity-hover);
    --opacity-text: 100%;
}

.image-input:active::before {
    --opacity-overlay: var(--opacity-active);
    --opacity-text: 100%;
}

.image-input:focus-within::before {
    --opacity-overlay: var(--opacity-focus);
    --opacity-text: 100%;
}

.image-input.disabled {
    cursor: initial;
    opacity: var(--opacity-disabled);
}

.image-input.disabled::before {
    --opacity-overlay: 0%;
    --opacity-text: 0%;
}
