openapi: 3.0.0

info:
  version: "1.0"
  title: "LBAW Atrellado Web API"
  description: "Web Resources Specification (A7) for Atrellado"

servers:
  - url: http://lbaw2265.lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2265/-/wikis/eap#a7-web-resources-specification

tags:
  - name: M01
    description: Authentication and User Profile
  - name: M02
    description: User Administration/Static pages
  - name: M03
    description: Projects
  - name: M04
    description: Project Forum
  - name: M05
    description: Search

paths:
  /:
    get:
      operationId: R101
      summary: "R101: Home page"
      description: "Provides the home page.
        If the user is authenticated, the projects that the user has marked as favorite or the projects in which the user is a member should appear in this page.
        If not, a static page with links to sign-in/sign-up is presented.
        Access: PUB"

      tags:
        - M01

      responses:
        "200":
          description: "Ok. Show Home page"
        "302":
          description: "Found. Show projects page or administration page"
          headers:
            Location:
              schema:
                type: string
              examples:
                302User:
                  description: "Redirect to user projects"
                  value: "/project"
                302Admin:
                  description: "Redirect to administration page"
                  value: "/admin"

  /login:
    get:
      operationId: R102
      summary: "R102: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01"
      responses:
        "200":
          description: "Ok, Show Login UI"

    post:
      operationId: R103
      summary: "R103: Login action"
      description: "Process the login form data. Access: PUB"
      tags:
        - "M01"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                remember:
                  type: boolean
              required:
                - email
                - password
                - remember

      responses:
        "302":
          description: "Found. Redirect after processing the login credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication: redirecting to home page"
                  value: "/"
                302Error:
                  description: "Failed to authenticate user, going back to login page"
                  value: "/login"

  /logout:
    post:
      operationId: R104
      summary: "R104: Logout Action"
      description: "Logout the current authenticated user. Access: USR, ADM"
      tags:
        - "M01"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to home page"
                  value: "/"

  /register:
    get:
      operationId: R105
      summary: "R105: Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01"
      responses:
        "200":
          description: "Ok. Show Sign-Up UI"

    post:
      operationId: R106
      summary: "R106: Register Action"
      description: "Processes the user registration form data. Access: PUB"
      tags:
        - "M01"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - name
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful account creation. Redirect to user profile."
                  value: "/"
                302Failure:
                  description: "Failed user creation. Redirect to register form."
                  value: "/register"

  /user/{id}:
    get:
      operationId: R201
      summary: "R201: View user profile"
      description: "Show the individual user profile. Access: USR, ADM"
      tags:
        - "M01"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show user profile UI."
        "403":
          description: "Forbidden. The current user cannot access this profile."
        "404":
          description: "Not Found. User with the given id not found."

  /user/{id}/edit:
    get:
      operationId: R203
      summary: "R203: Edit user profile page"
      description: "Show the 'Edit Profile' page. Access: OWN, ADM"
      tags:
        - "M01"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show Edit User profile UI"
        "403":
          description: "Forbidden. The current user cannot edit this profile."
        "404":
          description: "Not Found. User with the given id not found."

    post:
      operationId: R204
      summary: "R204: Edit user profile action"
      description: "Process the 'Edit Profile' form data. Access: OWN, ADM"

      tags:
        - "M01"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - name
                - email

      responses:
        "302":
          description: "Redirect after processing the edited user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful edit. Redirect to user profile."
                  value: "/user/{id}"
                302Failure:
                  description: "Failed edit. Redirect to edit form."
                  value: "/user{id}/edit"

  /project:
    get:
      operationId: R301
      summary: "R301: View user's projects"
      description: "Show a list with the logged in user's projects. Access: USR"

      tags:
        - "M03"

      responses:
        "200":
          description: "Ok. Show the user's projects"

  /project/new:
    get:
      operationId: R302
      summary: "R302: Create New Project form"
      description: "Show the 'Create New Project' UI. Access: USR"

      tags:
        - "M03"

      responses:
        "200":
          description: "Ok. Show the 'Create New Project' UI"

    post:
      operationId: R303
      summary: "R303: Create new project action"
      description: "Process the 'Create New Project' form data. Access: USR"

      tags:
        - "M03"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
              required:
                - name

      responses:
        "302":
          description: "Redirect after processing the new project information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful project creation. Redirect to project board."
                  value: "/project/{id}"
                302Failure:
                  description: "Failed project creation. Redirect to project creation form."
                  value: "/project/new"

  /project/{id}:
    get:
      operationId: R304
      summary: "R304: View project main page"
      description: "Show the specified project main page. Access: MBR, ADM"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "302":
          description: "Found. Redirect to project board"
          headers:
            Location:
              schema:
                type: string
              examples:
                302:
                  description: "Successful authentication: redirecting to home page"
                  value: "/project/{id}/board"

  /project/{id}/task-group/new:
    post:
      operationId: R305
      summary: "R305: Create new Task Group"
      description: "Create a new Task Group on the specified project. Access: MBR"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                project:
                  type: integer
                position:
                  type: integer
              required:
                - "name"
                - "project"
                - "position"

      responses:
        "302":
          description: "Redirect to project board after creating the new task group"
          headers:
            Location:
              schema:
                type: string
              examples:
                "302":
                  value: "/project/{id}"

  /project/{id}/add:
    get:
      operationId: R306
      summary: "R306: Get Project Member addition page"
      description: "Get the 'Add Member to Project' page. Access: COORD"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true

      responses:
        "200":
          description: "Ok. Show the project member addition page"

    post:
      operationId: R307
      summary: "R307: Process the 'Add member to Project' action data"
      description: "Process the 'Add member to Project' action data. Access: COORD"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - "email"

      responses:
        "302":
          description: "Redirect to the project board after adding a user"
          headers:
            Location:
              schema:
                type: string
              examples:
                "302":
                  value: "/project/{id}"

  /project/{id}/info:
    get:
      operationId: R308
      summary: "R308: View project info page"
      description: "Show the specified project info page. Access: MBR, ADM"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show the specified project info page"
        "403":
          description: "Forbidden. The current user can't access the given project"
        "404":
          description: "Not found. The given project does not exist"

  /project/{id}/board:
    get:
      operationId: R309
      summary: "R309: View project board page"
      description: "Show the specified project board page. Access: MBR, ADM"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show the specified project board page"
        "403":
          description: "Forbidden. The current user can't access the given project"
        "404":
          description: "Not found. The given project does not exist"

  /project/{id}/timeline:
    get:
      operationId: R310
      summary: "R310: View project timeline page"
      description: "Show the specified project timeline page. Access: MBR, ADM"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show the specified project timeline page"
        "403":
          description: "Forbidden. The current user can't access the given project"
        "404":
          description: "Not found. The given project does not exist"

  /project/{id}/forum:
    get:
      operationId: R311
      summary: "R311: View project forum page"
      description: "Show the specified project forum page. Access: MBR, ADM"

      tags:
        - "M04"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show the specified project forum page"
        "403":
          description: "Forbidden. The current user can't access the given project"
        "404":
          description: "Not found. The given project does not exist"

  /project/{id}/task/search:
    get:
      operationId: R401
      summary: "R401: Task search"
      description: "Search for a project's tasks. Access: MBR, ADM"

      tags:
        - "M05"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: q
          schema:
            type: string
          required: true

      responses:
        "200":
          description: "Ok. Show the task search UI"
        "403":
          description: "The current user does not have permission to access this project or its content"
        "404":
          description: "The project with the given id does not exist or cannot be found"

  /project/{id}/task/new:
    post:
      operationId: R402
      summary: "R402: 'Create New Task' action"
      description: "Process the 'Create New Task' form data. Access: MBR"

      tags:
        - "M03"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                task_group:
                  type: integer
              required:
                - name
                - task_group

      responses:
        "302":
          description: "Redirect after processing the new project information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302:
                  description: "Successful task creation. Redirect to project board."
                  value: "/project/{id}"

  /project/{id}/task/{taskId}:
    get:
      operationId: R403
      summary: "R403: View a task in project page"
      description: "Show the specified task and its details in the project page. Access: MBR, ADM"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: taskId
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show task UI"
        "400":
          description: "Invalid request. The specified task does not belong to the specified project"
        "403":
          description: "Forbidden. The current user does not have permission to access this task or project"
        "404":
          description: "Not Found. Project or task with the given id not found"

    post:
      operationId: R404
      summary: "R404: Edit task details"
      description: "Process the Edit Task action data. Access: MBR"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: taskId
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                task_group:
                  type: integer

      responses:
        "302":
          description: "Redirect after processing the task edit information"
          headers:
            Location:
              schema:
                type: string
              examples:
                302:
                  description: "Successful task edition. Redirect to project board"
                  value: "/project/{id}"

  /project/search:
    get:
      operationId: R500
      summary: "R500: Search projects"
      description: "Search for the user's projects. Access: USR"

      tags:
        - "M05"

      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true

      responses:
        "200":
          description: "Ok. Show the project search UI"
        "403":
          description: "The current user does not have permission to access this project or its content"
        "404":
          description: "The project with the given id does not exist or cannot be found"

  /admin:
    get:
      operationId: R600
      summary: "R600: Administration home page"
      description: "Home page for administrators. Access: ADM"

      tags:
        - "M02"

      responses:
        "302":
          description: "Redirect to user administration area"
          headers:
            Location:
              schema:
                type: string
              examples:
                "302":
                  value: "/admin/users"

  /admin/users:
    get:
      operationId: R601
      summary: "R601: User Administration Area"
      description: "Show the User Administration Area. Access: ADM"

      tags:
        - "M02"

      responses:
        "200":
          description: "Ok. Show the User Administration UI"
        "403":
          description: "The current user does not have access to this page"

  /admin/projects:
    get:
      operationId: R602
      summary: "R602: Projects Administration Area"
      description: "Show the Projects Administration Area. Access: ADM"

      tags:
        - "M02"

      responses:
        "200":
          description: "Ok. Show the Projects Administration UI"
        "403":
          description: "The current user does not have access to this page"

  /admin/create/user:
    get:
      operationId: R603
      summary: "R603: Show user creation page"
      description: "SHow the administration User creation page. Access: ADM"

      tags:
        - "M02"

      responses:
        "200":
          description: "Ok. Show the administration User creation page."

    post:
      operationId: R604
      summary: "R604: Process the administration User creation data"
      description: "Process the administration User creation data. Access: ADM"

      tags:
        - "M02"

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                name:
                  type: string
                password:
                  type: string
                  format: password
                picture:
                  type: string
                  format: binary
              required:
                - "name"
                - "password"
                - "email"

      responses:
        "302":
          description: "Redirect to user administration page after successfully creating new user"
          headers:
            Location:
              schema:
                type: string
              examples:
                "302":
                  value: "/admin/users"

  /api/user/{id}:
    delete:
      operationId: R701
      summary: "R701: Delete User Profile"
      description: "Delete a specific users profile information. Access: OWN, ADM"

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. User Profile deleted successfully"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  password:
                    type: string
                    format: password
                  blocked:
                    type: boolean
                  is_admin:
                    type: boolean
        "400":
          description: "Bad request. The request body contains invalid data."
        "403":
          description: "Forbidden. The user that created the request does not have permission to delete the specified user"

  /api/project/{id}:
    delete:
      operationId: R702
      summary: "R702: Delete Project API Endpoint"
      description: "Endpoint for project deletion. Access: COORD, ADM" # for the prototype only admins can delete projects

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. project deleted successfully."
        "400":
          description: "Bad request. The request body contains invalid data."
        "403":
          description: "Forbidden. The user that created the request does not have permission to delete the specified project"

  /api/task/{id}/complete:
    put:
      operationId: R703
      summary: "R703: Complete Task"
      description: "Mark a given task as completed. Access: MBR."

      tags:
        - "M03"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Task has successfully been marked as completed."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  description:
                    type: string
                  creation_date:
                    type: string
                    format: date
                  edit_date:
                    type: string
                    format: date
                  state:
                    type: string
                    example: COMPLETED
                  creator:
                    type: integer
                  position:
                    type: integer
                  task_group:
                    type: integer
        "403":
          description: "Forbidden. The user that made the request does not have permission to marl this task as completed."
        "404":
          description: "Not Found. THe given task does not exist or could not be found."
