openapi: 3.0.0

info:
  version: "1.0"
  title: "LBAW Atrellado Web API"
  description: "Web Resources Specification (A7) for Atrellado"

servers:
  - url: http://lbaw.fe.up.pt # TODO: change this
    description: Production server # TODO: change this

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07 # TODO: change this

tags:
  - name: "M01: Authentication and User Profile"
  - name: "M02: User Administration/Static pages"
  - name: "M03: Projects"
  - name: "M04: Search"

paths:
  /:
    get:
      operationId: R001
      responses:
        "200":
          description: "Ok."

  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01"
      responses:
        "200":
          description: "Ok, Show Log-in UI"

    post:
      operationId: R102
      summary: "R102: Login action"
      description: "Process the login form data. Access: PUB"
      tags:
        - "M01: Authentication and User Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the login credentials"
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication: redirecting to home page"
                  value: "/"
                302Error:
                  description: "Failed to authenticate user, going back to login page"
                  value: "/login"

  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated user. Access: USR, ADM"
      tags:
        - "M01"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to login form."
                  value: "/login"

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01"
      responses:
        "200":
          description: "Ok. Show Sign-Up UI"

    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the user registration form data. Access: PUB"
      tags:
        - "M01"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - name
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /search:
    get:
      operationId: R106
      responses:
        "200":
          description: "Ok. Search"

  /user/{id}:
    get:
      operationId: R107
      summary: 'R107: View user profile'
      description: 'Show the individual user profile. Access: USR, ADM'
      tags:
       - 'M01'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
      responses:
        "200":
          description: "Ok. Show user profile UI"

  /project/{id}:
    get:
      operationId: R301
      summary: 'R301: View project main page'
      description: 'Show the specified project main page (Project Board). Access: MBR, COORD'
      tags:
       - 'M03'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
      responses:
        "200":
          description: "Ok. Show project board UI"

  /project/{id}/info:
    get:
      operationId: R302 
      summary: 'R302: View project info page'
      description: 'Show the specified project info page. Access: MBR, COORD'
      tags:
       - 'M03'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
      responses:
        "200":
          description: "Ok. Show project info page UI"

  /project/{id}/forum:
    get:
      operationId: R401 
      summary: 'R401: View project forum page'
      description: 'Show the specified project forum page. Access: MBR, COORD'
      tags:
       - 'M04'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
      responses:
        "200":
          description: "Ok. Show project forum page UI"

  /project/{id}/forum/{threadId}:
    get:
      operationId: R402
      summary: 'R402: View a thread page in project forum'
      description: 'Show the specified thread in the project forum page. Access: MBR, COORD'
      tags:
       - 'M04'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
       - in: path
         name: threadId
         schema:
           type: integer
         required: true  
      responses:
        "200":
          description: "Ok. Show thread UI"

  /project/{id}/timeline:
    get:
      operationId: R303
      summary: 'R303: View project timeline page'
      description: 'Show the specified project timeline page. Access: MBR, COORD'
      tags:
       - 'M03'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
      responses:
        "200":
          description: "Ok. Show project timeline page UI"

  /project/{id}/task/{taskId}:
    get:
      operationId: R304 
      summary: 'R304: View a task in project page'
      description: 'Show the specified task in the project page. Access: MBR, COORD'
      tags:
       - 'M03'
      parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
       - in: path
         name: taskId
         schema:
           type: integer
         required: true  
      responses:
        "200":
          description: "Ok. Show task UI"

  /about:
    get:
      operationId: R201
      summary: 'R201: View about page'
      description: 'Show the About page. Access: PUB'
      tags:
       - 'M02'
      responses:
        "200":
          description: "Ok. Show About page"

  /faq:
    get:
      operationId: R202
      summary: 'R202: View FAQ page'
      description: 'Show the FAQ page. Access: PUB'
      tags:
       - 'M02'
      responses:
        "200":
          description: "Ok. Show FAQ page"

  /contacts:
    get:
      operationId: R203
      summary: 'R203: View contacts page'
      description: 'Show the Contacts page. Access: PUB'
      tags:
       - 'M02'
      responses:
        "200":
          description: "Ok. Show Contacts page"

  /services:
    operationId: R204
      summary: 'R204: View services page'
      description: 'Show the Services page. Access: PUB'
      tags:
       - 'M02'
      responses:
        "200":
          description: "Ok. Show Services page"

  /admin:
    get:
      operationId: R301
      responses:
        "200":
          description: "Ok."

  /api:
    get:
      operationId: R401
      responses:
        "200":
          description: "API health check endpoint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              examples:
                200Success:
                  description: "API is responding normally to requests"
                  value:
                    ok: true

  /api/users:
    get:
      operationId: R402
      responses:
        "200":
          description: "Ok."
    post:
      operationId: R404
      responses:
        "200":
          description: "Ok."

  /api/users/{id}:
    get:
      operationId: R403
      responses:
        "200":
          description: "Ok."
    
    put:
      operationId: R305
      responses:
        "200":
          description: "Ok."

  /api/users/{id}/block:
    put:
      operationId: R430 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/users/{id}/unblock:
    put:
      operationId: R430 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/project:
    post:
      operationId: R405
      responses:
        "200":
          description: "Ok."

  /api/project/{id}:
    get:
      operationId: R406
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R407
      responses:
        "200":
          description: "Ok."
    
    delete:
      operationId: R408
      responses:
        "200":
          description: "Ok."

  /api/project/{id}/archive:
    put:
      operationId: R409
      responses:
        "200":
          description: "Ok."

  /api/tasks:
    get:
      operationId: R410
      responses:
        "200":
          description: "Ok."
          
    post:
      operationId: R411
      responses:
        "200":
          description: "Ok."

  /api/task/{id}:
    get:
      operationId: R112
      responses:
        "200":
          description: "Ok."

    post:
      operationId: R113
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R113
      responses:
        "200":
          description: "Ok."

  /api/task/{id}/assign:
    post:
      operationId: R420 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/task/{id}/addTag/{id}/:
    post:
      operationId: R421 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/task/{id}/archive:
    put:
      operationId: R114
      responses:
        "200":
          description: "Ok."

  /api/groups:
    get:
      operationId: R115
      responses:
        "200":
          description: "Ok."
    
    post:
      operationId: R115
      responses:
        "200":
          description: "Ok."
  
  /api/groups/{id}:
    get:
      operationId: R116
      responses:
        "200":
          description: "Ok."

    post:
      operationId: R117
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R118
      responses:
        "200":
          description: "Ok."
      
