openapi: 3.0.0

info:
  version: "1.0"
  title: "LBAW Atrellado Web API"
  description: "Web Resources Specification (A7) for Atrellado"

servers:
  - url: http://lbaw.fe.up.pt # TODO: change this
    description: Production server # TODO: change this

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07 # TODO: change this

tags:
  - name: "M01: Authentication and User Profile"
  - name: "M02: User Administration/Static pages"
  - name: "M03: Projects"
  - name: "M04: Project Forum"
  - name: "M05: Search"

paths:
  /:
    get:
      operationId: R001
      summary: "R001: Home page"
      description: "Provides the home page. The projects  Access: PUB"
      tags:
        - "M00" # TODO: find new module
      responses:
        "200":
          description: "Ok. Show Home page"

  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01"
      responses:
        "200":
          description: "Ok, Show Log-in UI"

    post:
      operationId: R102
      summary: "R102: Login action"
      description: "Process the login form data. Access: PUB"
      tags:
        - "M01: Authentication and User Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the login credentials"
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication: redirecting to home page"
                  value: "/"
                302Error:
                  description: "Failed to authenticate user, going back to login page"
                  value: "/login"

  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated user. Access: USR, ADM"
      tags:
        - "M01"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to login form."
                  value: "/login"

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01"
      responses:
        "200":
          description: "Ok. Show Sign-Up UI"

    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the user registration form data. Access: PUB"
      tags:
        - "M01"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - name
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/user/{id}"
                302Failure:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /search:
    get:
      operationId: R106
      summary: "R106: Content Search"
      description: "Shows the contents of a search made by the user. Access: USR, ADM"
      tags:
        - "M05"
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: "Ok. Search page with search results"

  /user/{id}:
    get:
      operationId: R107
      summary: "R107: View user profile"
      description: "Show the individual user profile. Access: USR, ADM"
      tags:
        - "M01"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show user profile UI"

  /user/{id}/edit:
    get:
      operationId: R434 # FIXME
      summary: "R434: Edit user profile"
      description: "Show the 'Edit Profile' page. Access: USR"
      tags:
        - "M01"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show Edit User profile UI"
    post:
      operationId: R435 # FIXME
      summary: "R435: Edit user profile"
      description: "Process the 'Edit Profile' form data. Access: USR"
      tags:
        - "M01"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - name
                - email
          
      responses:
        "302":
          description: "Redirect after processing the edited user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful edit. Redirect to user profile."
                  value: "/user/{id}"
                302Failure:
                  description: "Failed edit. Redirect to edit form."
                  value: "/user{id}/edit"
  
  /project/{id}:
    get:
      operationId: R301
      summary: "R301: View project main page"
      description: "Show the specified project main page (Project Board). Access: MBR, COORD"
      tags:
        - "M03"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show project board UI"

  /project/{id}/info:
    get:
      operationId: R302
      summary: "R302: View project info page"
      description: "Show the specified project info page. Access: MBR, COORD"
      tags:
        - "M03"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show project info page UI"

  /project/{id}/forum:
    get:
      operationId: R401
      summary: "R401: View project forum page"
      description: "Show the specified project forum page. Access: MBR, COORD"
      tags:
        - "M04"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show project forum page UI"

  /project/{id}/forum/{threadId}:
    get:
      operationId: R402
      summary: "R402: View a thread page in project forum"
      description: "Show the specified thread in the project forum page. Access: MBR, COORD"
      tags:
        - "M04"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: threadId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show thread UI"

  /project/{id}/timeline:
    get:
      operationId: R303
      summary: "R303: View project timeline page"
      description: "Show the specified project timeline page. Access: MBR, COORD"
      tags:
        - "M03"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show project timeline page UI"

  /project/{id}/task/{taskId}:
    get:
      operationId: R304
      summary: "R304: View a task in project page"
      description: "Show the specified task and its details in the project page. Access: MBR, COORD"
      tags:
        - "M03"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: taskId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show task UI"

  /about:
    get:
      operationId: R201
      summary: "R201: View about page"
      description: "Show the About page. Access: PUB"
      tags:
        - "M02"
      responses:
        "200":
          description: "Ok. Show About page"

  /faq:
    get:
      operationId: R202
      summary: "R202: View FAQ page"
      description: "Show the FAQ page. Access: PUB"
      tags:
        - "M02"
      responses:
        "200":
          description: "Ok. Show FAQ page"

  /contacts:
    get:
      operationId: R203
      summary: "R203: View contacts page"
      description: "Show the Contacts page. Access: PUB"
      tags:
        - "M02"
      responses:
        "200":
          description: "Ok. Show Contacts page"

  /services:
    get:
      operationId: R204
      summary: "R204: View services page"
      description: "Show the Services page. Access: PUB"
      tags:
        - "M02"
      responses:
        "200":
          description: "Ok. Show Services page"

  /admin:
    get:
      operationId: R301
      responses:
        "200":
          description: "Ok."

  /api:
    get:
      operationId: R401
      responses:
        "200":
          description: "API health check endpoint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              examples:
                200Success:
                  description: "API is responding normally to requests"
                  value:
                    ok: true

  /api/users:
    get:
      operationId: R402
      responses:
        "200":
          description: "Ok."
    post:
      operationId: R404
      responses:
        "200":
          description: "Ok."

  /api/users/{id}:
    get:
      operationId: R403
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R305
      responses:
        "200":
          description: "Ok."

  /api/users/{id}/block:
    put:
      operationId: R430 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/users/{id}/unblock:
    put:
      operationId: R430 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/project:
    post:
      operationId: R405 # FIXME
      summary: "R405: Create project"
      description: "Process the 'Create Project' form data. Access: MBR, COORD"
      tags:
        - "M01"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                coordinator:
                  type: integer
              required:
                - name
                - coordinator
          
      responses:
        "302":
          description: "Redirect after creating project."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful create project. Redirect to project page."
                  value: "/project/{id}"
                302Failure:
                  description: "Failed create project. Redirect to home page."
                  value: "/"

  /api/project/{id}:
    get:
      operationId: R406
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R407
      responses:
        "200":
          description: "Ok."

    delete:
      operationId: R408
      responses:
        "200":
          description: "Ok."

  /api/project/{id}/archive:
    put:
      operationId: R409
      responses:
        "200":
          description: "Ok."

  /api/tasks:
    get:
      operationId: R410
      summary: 'R410: Search Tasks API'
      description: 'Searches for tasks and returns the results as JSON. Access: MBR, COORD.'
      tags:
        - 'M03'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: name
          description: Name of the task
          schema:
            type: string
          required: true
        - in: query
          name: description
          description: Description of the task
          schema:
            type: string
          required: false  
        - in: query
          name: creation_date
          description: Creation date of the task
          schema:
            type: string
            format: date
          required: true
        - in: query
          name: edit_date
          description: Last edit date of the task
          schema:
            type: string
            format: date
          required: false  
        - in: query
          name: state
          description: State of the task
          schema:
            type: string
          required: true  
        - in: query
          name: creator
          description: Integer corresponding to the creator's id
          schema:
            type: integer
          required: false
        - in: query
          name: position
          description: Integer corresponding to the position in the task group
          schema:
            type: integer
          required: true
        - in: query
          name: task_group
          description: Integer corresponding to the task group's id
          schema:
            type: integer
          required: true  

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    creation_date:
                      type: string
                      format: date
                    edit_date:
                      type: string
                      format: date   
                    state:
                      type: string  
                    creator:
                      type: integer   
                    position:
                      type: integer
                    task_group:
                      type: integer

    post:
      operationId: R411
      summary: "R411: Create task"
      description: "Process the 'Create Task' form data. Access: MBR, COORD"
      tags:
        - "M03"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string   
                creator:
                  type: integer   
                task_group:
                  type: integer
              required:
                - name
                - creator
                - task_group
          
      responses:
        "302":
          description: "Redirect after creating task."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful create task."
                302Failure:
                  description: "Failed create task."

  /api/task/{id}:
    get:
      operationId: R112
      responses:
        "200":
          description: "Ok."

    post:
      operationId: R113
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R113
      responses:
        "200":
          description: "Ok."

  /api/task/{id}/assign:
    post:
      operationId: R420 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/task/{id}/addTag/{id}/:
    post:
      operationId: R421 # FIXME
      responses:
        "200":
          description: "Ok."

  /api/task/{id}/archive:
    put:
      operationId: R114
      summary: "R114: Complete a task"
      description: "Mark task as completed. Access: MBR, COORD"
      tags:
        - "M03"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                state:
                  type: string
              required:
                - id
                - state
      responses:
        "200":
          description: "Ok."

  /api/groups:
    get:
      operationId: R115
      responses:
        "200":
          description: "Ok."
      

    post:
      operationId: R115
      summary: "R115: Create group"
      description: "Process the 'Create Group' form data. Access: MBR, COORD"
      tags:
        - "M03"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string   
                project:
                  type: integer
              required:
                - name
                - project
          
      responses:
        "302":
          description: "Redirect after creating task group."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful create task group."
                302Failure:
                  description: "Failed create task group."

  /api/groups/{id}:
    get:
      operationId: R116
      responses:
        "200":
          description: "Ok."

    post:
      operationId: R117
      responses:
        "200":
          description: "Ok."

    put:
      operationId: R118
      responses:
        "200":
          description: "Ok."
